*{
    margin: 0;
    padding: 0;
}

.cabecalho h1{
    font-family: lato;
    color: #33475b;
    margin-left: 7%;
}

.cabecalho p{
    font-family: lato;
    color: #33475b;
    margin-left: 10%;
    font-size: 12pt;
}

fieldset {
    border: 0;
}

input, select, textarea, button {
    font-family: lato;
    font-size: 14pt;
    color: #33475b;
    border-radius: 5px;
}


body{
    background-color: #EEEEEE;
    font-family: sans-serif;
    font-size: 1em;
    color: #33475b;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
.campo {

}